@model FinalProject.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <div class="card">
                    <div class="card-body profile-card">

                        <center class="mt-4">
                            <img src="~/Areas/Admin/Content/images/users.png"
                                 class="rounded-circle" width="150" />
                            <h4 class="card-title mt-2">@Session["user_fullname"]</h4>
                            <h6 class="card-subtitle">Account Admin Manager</h6>
                        </center>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-xlg-9 col-md-7">
                <div class="card">
                    <div class="card-body">
                        @using (Html.BeginForm("Update", "Dashboard", FormMethod.Post, new { @class = "form-horizontal form-material mx-2" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID)

                            <div class="form-group">
                                @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "col-md-12 mb-0" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control ps-0 form-control-line" } })
                                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @Html.HiddenFor(model => model.UserName)

                            @Html.HiddenFor(model => model.Password)
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-md-12 mb-0" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control ps-0 form-control-line" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "col-md-12 mb-0" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control ps-0 form-control-line" } })
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "col-md-12 mb-0" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control ps-0 form-control-line" } })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12 d-flex">
                                    <input type="submit" value="Save" class="btn btn-success mx-auto mx-md-0 text-white" />
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer text-center">
        © 2021 Monster Admin by <a href="https://www.wrappixel.com/">wrappixel.com</a>
    </footer>
</div>
